    .icon {
      background-image: url('/assets/images/sprites/sprite-029f562c.svg');
    }
    .no-svg .icon {
      background-image: url('/assets/images/sprites/sprite-029f562c.png');
    }
  .icon--clear-view-escapes {
    width: 144.4px;
    height: 61.53px;
    background-position: 0 0;
  }
  .icon--comment {
    width: 66px;
    height: 66px;
    background-position: 65.02463054187191% 74.1453488372093%;
  }
  .icon--facebook {
    width: 23.23px;
    height: 44.01px;
    background-position: 0 99.76287437496778%;
  }
  .icon--fire {
    width: 58px;
    height: 66px;
    background-position: 68.43601895734596% 0;
  }
  .icon--globe {
    width: 66px;
    height: 66px;
    background-position: 0 74.1453488372093%;
  }
  .icon--instagram {
    width: 44.01px;
    height: 44.01px;
    background-position: 64.18063025023334% 34.0223722872313%;
  }
  .icon--mail {
    width: 66px;
    height: 50px;
    background-position: 99.70443349753694% 35.1063829787234%;
  }
  .icon--rain {
    width: 66px;
    height: 66px;
    background-position: 99.70443349753694% 0;
  }
  .icon--star {
    width: 66px;
    height: 66px;
    background-position: 32.51231527093596% 74.1453488372093%;
  }
  .icon--twitter {
    width: 53.78px;
    height: 44.06px;
    background-position: 94.04330452560171% 59.812313086521605%;
  }
  .icon--wifi {
    width: 62px;
    height: 66px;
    background-position: 29.95169082125604% 35.77325581395349%;
  }
  .icon--wifi_copy {
    width: 62px;
    height: 66px;
    background-position: 0 35.77325581395349%;
  }
